<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutomationPackage" version="1.0.0" targetFramework="net452" />
  <package id="AutomationPackageWithDrivers" version="1.0.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="Selenium.Support" version="3.0.1" targetFramework="net452" />
  <package id="Selenium.WebDriver" version="3.0.1" targetFramework="net452" />
  <package id="WebDriver.ChromeDriver" version="2.21" targetFramework="net452" />
  <package id="WebDriver.ChromeDriver.win32" version="2.25.0.0" targetFramework="net452" />
  <package id="WebDriver.EdgeDriver" version="2.1" targetFramework="net452" />
  <package id="WebDriver.InternetExplorerDriver.32bit" version="2.52" targetFramework="net452" />
  <package id="WebDriver.PhantomJSDriver" version="2.1.1" targetFramework="net452" />
</packages>